* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

nav{
  position: fixed;
  width: 100%;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 42%, rgba(68,163,61,1) 64%, rgba(135,187,52,1) 85%);
  -webkit-box-shadow: 0px 9px 10px -5px #000000; 
  box-shadow: 0px 9px 10px -5px #000000;
  height: 100px;
}

.kek {
  margin: 2em 0 2em 2em;
  max-height: 100px;
  max-width: 350px;
  width: auto;
  height: auto;
  margin-right: auto;
}

.links{
  display: flex;
  margin-left: auto;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  font-weight: bold;
  font-size: 22px;
}

/*.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5%;
  border-radius: 0;
  width: 120%;
  margin-left: -1em;
}

.sticky > img{
  height: 100%;
}

.sticky > a {
  font-size: 15px;
  margin-left: 1em;
  margin-right: auto;
}*/

body{

  width: 100%;
  margin: 0;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2%;
  z-index: 0;
}

section{
  text-align: center;
  width: 75%;
  height: 480px;
  overflow-y: scroll;
  overflow-wrap: none;
  margin-top: 10%;
  scroll-behavior: smooth;
}

.login-page{
  display: flex;
  margin-top: 20%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.schnozer{
  display: flex;
  margin-top: 20%;
  justify-content: center;
}

aside{
  text-align: center;
  width: 25%;
  margin-top: 10%;
  margin-bottom: 1%;
}

article{
  padding: 1em;
  margin-bottom: 100px;
  border: 5px solid black;
  border-radius: 45px;
  -webkit-box-shadow: 0px 9px 10px -5px #000000; 
  box-shadow: 0px 9px 10px -5px #000000;
}

article:hover{
  color: white;
  background-color: #000000;
}

h1{
  display: none;
}

h2{
  font-size: 15px;
}

.blocs_right{
  margin-left: 5%;
  padding: 10px;
  margin-bottom: 60px;
  border: 5px solid black;
  border-radius: 45px;
  -webkit-box-shadow: 0px 9px 10px -5px #000000; 
  box-shadow: 0px 9px 10px -5px #000000;
}

.blocs_right:hover{
  color: white;
  background-color: #000000;
}

#qrcode{
  max-height: 90px;
  width: auto;
  height: auto;
}

form{
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form2{
  min-height: 100px;
  min-width: fit-content;
}

label{
  margin-bottom: 1%;
}

#email{
  align-self: center;
  width: 70%;
  text-align: center;
}

footer > img{
  margin: 2em 0 2em 2em;
  margin-right: auto;
  max-height: 100px;
  max-width: 350px;
  width: auto;
  height: auto;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 42%, rgba(68,163,61,1) 64%, rgba(135,187,52,1) 85%);
  -webkit-box-shadow: 0px 9px 10px -5px #000000; 
  box-shadow: 0px 9px 10px -5px #000000;
  height: 100px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer > a{
  display: flex;
  margin-left: auto;
  margin-right: 1em;
  font-weight: bold;
  font-size: 22px;
  justify-content: center;
}

#footer_wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 15%;
}

#footer_links{
  display: flex;
  text-align: center;
  flex-direction: column;
}

#credits{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px){
  body{
      overflow: auto;
  }
  .links {
      margin-left: auto;
      margin-right: 1em;
      font-weight: bold;
      font-size: 10px;
      width: 50%;
  }
  
  nav > img {
      margin: 1em 0 1em 1em;
      max-height: 50px;
      max-width: 100px;
      width: auto;
      height: auto;
  }

  footer{
      position: relative;
  }

  footer > img {
      margin: 1em 0 1em 1em;
      max-height: 50px;
      max-width: 100px;
      width: auto;
      height: auto;
  }
  footer > a {
      margin-left: 2em;
      font-weight: bold;
      font-size: 10px;
      margin-right: 1em;
  }
  #qrcode{
      max-height: 100px;
      width: auto;
      height: auto;
  }
  main{
      flex-direction: column;
      padding-top: 20%;
  }

  section{
      text-align: center;
      width: 100%;
      height: 300px;
  }
  
  article{
      margin-bottom: 20px;
  }


  h2{
      font-size: 15px;
  }
  aside{
      text-align: center;
      width: 100%;
      height: auto;
  }
  .blocs_right{
      margin-left: 0%;
      margin-bottom: 1.1vmin;
      border: 10px solid black;
      border-radius: 45px;
      font-size: 15px;
  }

}  
